openapi: '3.0.0'
info:
  version: 1.0.0
  title: Market Trak Pro
  license:
    name: MIT
servers:
  - url: https://api.markettrakpro.com/v1
paths:
  /records:
    get:
      summary: List all records
      operationId: listRecords
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of records
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Records'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a record
      operationId: createRecord
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /records/{recordId}:
    get:
      summary: Info for a record
      operationId: showRecordById
      parameters:
        - name: recordId
          in: path
          required: true
          description: The id of the record to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Records'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metrics:
    get:
      summary: List all metrics
      operationId: listMetrics
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of metrics
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metrics/{metricId}:
    get:
      summary: Info for a metric
      operationId: showMetricById
      parameters:
        - name: metricId
          in: path
          required: true
          description: The id of the metric to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Record:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        category:
          type: string
    Records:
      type: array
      items:
        $ref: '#/components/schemas/Record'
    Metric:
      required:
        - id
        - label
      properties:
        id:
          type: integer
          format: int64
        label:
          type: string
        value:
          type: number
          format: float
    Metrics:
      type: array
      items:
        $ref: '#/components/schemas/Metric'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string