openapi: '3.0.0'
info:
  version: 1.0.0
  title: BosOn API
  license:
    name: MIT
servers:
  - url: https://api.boson.com/v1
paths:
  /reports:
    get:
      summary: List reports
      description: Retrieves a paginated list of market tracking reports. Use the limit parameter to control page size.
      operationId: listReports
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of reports
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reports'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create report
      operationId: createReports
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /reports/{reportId}:
    get:
      summary: Report details
      description: Retrieves detailed information about a specific market tracking report by its unique identifier.
      operationId: showReportById
      parameters:
        - name: reportId
          in: path
          required: true
          description: The id of the report to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Reports'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metrics:
    get:
      summary: List metrics
      description: Retrieves a paginated list of market tracking metrics used in BosOn documentation. Use the limit parameter to control page size.
      operationId: listMetrics
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of metrics
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create metric
      operationId: createMetrics
      responses:
        201:
          description: Null response
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /metrics/{metricId}:
    get:
      summary: Metric details
      description: Retrieves detailed information about a specific metric by its unique identifier.
      operationId: showMetricById
      parameters:
        - name: metricId
          in: path
          required: true
          description: The id of the metric to retrieve
          schema:
            type: string
      responses:
        200:
          description: Expected response to a valid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Report:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Reports:
      type: array
      items:
        $ref: '#/components/schemas/Report'
    Metric:
      required:
        - id
        - name
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        tag:
          type: string
    Metrics:
      type: array
      items:
        $ref: '#/components/schemas/Metric'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string